.swiper-container {
	width: 100%;
  	height: 250px;
	background: #000;
	height: 142px;
}
.swiper-slide { width:660px; }
ul.swiper-wrapper{
	list-style: none;
	margin:0;
}
.pagination {
	position: absolute;
	z-index: 20;
	left: 10px;
	bottom: 10px;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #222;
	margin-right: 5px;
	opacity: 0.8;
	border: 1px solid #fff;
	cursor: pointer;
}
.swiper-slide-active {
  	opacity: 1;
}
.swiper-visible-switch {
  	background: #aaa;
}
.swiper-active-switch {
  	background: #fff;
}